
.loginpage {
    background-color: #f4f4f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; 
    height: 100vh;
    color: #333333;
}

.hide {
    display: none;
}

.loginhead {
    text-align: center;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

button {
    border: none;
}

#passcode {
    height: 35px;
}

.submitbtn {
    width: 200px;
    padding: 8px 10px;
    background-color: #2874f0;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 10 auto;
    display: block;
    align-self: center;
    cursor: pointer;
    color: #ffffff;
    border: none;
}

form {
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
    gap: 10px;
    padding: 0px 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
}


.head {
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 1.1;
    margin-bottom: 40px;
}

.eye {

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: none;
}

.head button.activated {
    background: #2874f0;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

input {
    width: 250px;
    height: 20px;
    border: 2px solid rgb(165, 165, 165);
    padding: 4px 8px;
    border-radius: 4px;
    outline: none;
}

.act:focus {
    border-color: #2874f0;
    box-shadow: 0 0 0 4px rgba(40, 116, 240, 0.12);
}

.head>button {
    cursor: pointer;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: underline;
}

.passwordbox {
    position: relative;
    width: fit-content;
}